/WebHouseRental/HouseRentalWebPage/nbproject/private/
/WebHouseRental/HouseRentalWebPage/build/
/WebHouseRental/HouseRentalWebApp/nbproject/private/
/WebHouseRental/HouseRentalWebApp/build/
/WebHouseRental/HouseRentalWebApp/dist/
/HouseRentalService/nbproject/private/
/HouseRentalService/build/
/HouseRentalService/dist/
/HouseRentalJavaApp_Server/nbproject/private/
/HouseRentalWebApp/build/
/HouseRentalWebApp/dist/
/HouseRentalWS/nbproject/private/
/HouseRentalWS/dist/
/HouseRentalWS/build/
/WebAppReservation/nbproject/private/
/WebAppReservation/build/
/HouseRental/nbproject/private/
/WebAppReservation/dist/
/Chat/Server/nbproject/private/
/Chat/Client/nbproject/private/
/Chat/Server/build/
/Chat/Client/build/
/Chat/Server/dist/
/Chat/Client/dist/